<form method="post" action="{{ path('profile_picture_delete', {'id': profile_picture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile_picture.id) }}">
    <button class="btn">Delete</button>
</form>
