{% extends 'base.html.twig' %}

{% block title %}ProfilePicture index{% endblock %}

{% block body %}
    <h1>ProfilePicture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profile_picture in profile_pictures %}
            <tr>
                <td>{{ profile_picture.id }}</td>
                <td>
                    <a href="{{ path('profile_picture_show', {'id': profile_picture.id}) }}">show</a>
                    <a href="{{ path('profile_picture_edit', {'id': profile_picture.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('profile_picture_new') }}">Create new</a>
{% endblock %}
