{% extends 'base.html.twig' %}

{% block title %}Edit NextCategory{% endblock %}

{% block body %}
    <h1>Edit NextCategory</h1>

    {{ include('next_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('next_category_index') }}">back to list</a>

    {{ include('next_category/_delete_form.html.twig') }}
{% endblock %}
