{% extends 'base.html.twig' %}

{% block title %}NextCategory index{% endblock %}

{% block body %}
    <h1>NextCategory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for next_category in next_categories %}
            <tr>
                <td>{{ next_category.id }}</td>
                <td>
                    <a href="{{ path('next_category_show', {'id': next_category.id}) }}">show</a>
                    <a href="{{ path('next_category_edit', {'id': next_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('next_category_new') }}">Create new</a>
{% endblock %}
