
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/bin
/vendor/composer
/vendor/doctrine
/vendor/egulias
/vendor/monolog
/vendor/nikic
/vendor/ocramius
/vendor/phpdocumentor
/vendor/psr
/vendor/sensio
/vendor/symfony
/vendor/twig
/vendor/webmozart
/vendor/zendframework
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
