{% extends 'base.html.twig' %}

{% block title %}New CoffeeShop{% endblock %}

{% block body %}
    <h1>Create new CoffeeShop</h1>

    {{ include('coffee_shop/_form.html.twig') }}

    <a href="{{ path('coffee_shop_index') }}">back to list</a>
{% endblock %}
