<footer class="footer">
   <span class="d-none d-sm-inline-block">
      {#- Crafted with#}
      {#<i class="mdi mdi-heart text-danger"></i> #}
      Powered by <a href="http://effectivesolutions.xyz/" target="_blank">Effective Solutions (pvt) Ltd</a></span> | © {{ "now"| date('Y') }}.
</footer>