<footer class="footer">
   <span class="d-none d-sm-inline-block">
      {#- Crafted with#}
      {#<i class="mdi mdi-heart text-danger"></i> #}
      Powered by <a href="https://www.facebook.com/madhuwantha.madhuwantha.9/" target="_blank">EquitemSofy</a></span> | © {{ "now"| date('Y') }}.
</footer>
