<div class="right-sidebar d-none d-xl-block">
    <div class="slimscroll-menu">
        <div class="px-4 pt-4">
            <div class="card user-wid text-center overflow-hidden">
                <div class="p-4 bg-lighten-danger"></div>
                <div class="mx-3">
                    <div class="bg-white user-wid-content p-1 rounded">
                        <div class="user-img">
                            <img src="{{ asset('veltrix_v2/images/users/user-1.jpg') }}" alt="user-img" title=""
                                 class="rounded-circle thumb-md img-fluid">
                        </div>
                        <h5 class="font-14 mb-1"><a href="javascript: void(0);">James Heine</a></h5>
                        <p class="text-muted mb-2">
                            <small>Admin Head</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h5 class="font-14">Calender</h5>

                <div class="dashboard-date-pick" id="date-pick-widget" data-provide="datepicker-inline"></div>
            </div>

            <div>
                <h5 class="font-14">Clients</h5>

                <div id="world-map-markers" class="dashboard-map-wid"></div>
            </div>

        </div>
    </div>
</div>