
<div class="form-group row">
    <label for="sibling_name"
           class="col-sm-4 control-label">Name</label>
    <div class="col-sm-8">
        {{ form_widget(category.name, {'type':'text', 'attr': {'class': 'form-control'}}) }}
        {{ form_errors(category.name) }}
    </div>
</div>
