{% extends 'base.html.twig' %}

{% block title %}Edit ContactDetails{% endblock %}

{% block body %}
    <h1>Edit ContactDetails</h1>

    {{ include('contact_details/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('contact_details_index') }}">back to list</a>

    {{ include('contact_details/_delete_form.html.twig') }}
{% endblock %}
