{% extends 'base.html.twig' %}

{% block title %}New Gallery{% endblock %}

{% block body %}
    <h1>Create new Gallery</h1>

    {{ include('gallery/_form.html.twig') }}

    <a href="{{ path('gallery_index') }}">back to list</a>
{% endblock %}
