<form method="post" action="{{ path('slider_image_delete', {'id': slider_image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slider_image.id) }}">
    <button class="btn">Delete</button>
</form>
