{% extends 'base.html.twig' %}

{% block title %}Edit SliderImage{% endblock %}

{% block body %}
    <h1>Edit SliderImage</h1>

    {{ include('slider_image/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('slider_image_index') }}">back to list</a>

    {{ include('slider_image/_delete_form.html.twig') }}
{% endblock %}
